@import "tailwindcss";

body{
 background:#f5f7fb;
 font-family:Arial;
}

.dashboard{
 padding:20px;
}

.panel-container{
 display:grid;
 grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
 gap:20px;
}

.card{
 background:white;
 padding:20px;
 border-radius:12px;
 box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.panel-grid{
 display:grid;
 grid-template-columns:1fr 1fr;
 gap:6px;
 margin-top:10px;
}